@model AdminSide.Models.ChallengesViewModelIEnumerable

@{
    ViewData["Title"] = "Create";
}

<br>
<div class="col-md-8 offset-2">
    <h2>Create Challenge</h2>
    <hr>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Challenge.Name" class="control-label"></label>
            <input asp-for="Challenge.Name" class="form-control" />
            <span asp-validation-for="Challenge.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Challenge.Description" class="control-label"></label>
            <input asp-for="Challenge.Description" class="form-control" />
            <span asp-validation-for="Challenge.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Challenge.Value" class="control-label"></label>
            <input asp-for="Challenge.Value" class="form-control" />
            <span asp-validation-for="Challenge.Value" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Challenge.Flag" class="control-label"></label>
            <input asp-for="Challenge.Flag" class="form-control" />
            <span asp-validation-for="Challenge.Flag" class="text-danger"></span>
        </div>
        <!--
        <div class="form-group">
            <label asp-for="CompetitionID" class="control-label"></label>
            <select asp-for="CompetitionID" class="form-control" asp-items="ViewBag.CompetitionID"></select>
        </div>
        <div class="form-group">
            <label asp-for="CompetitionCategoryID" class="control-label"></label>
            <select asp-for="CompetitionCategoryID" class="form-control" asp-items="ViewBag.CompetitionCategoryID"></select>
        </div>
        -->
        <div class="form-group">
            <label asp-for="Challenge.CompetitionCategoryID" class="control-label"></label>
            <select asp-for="Challenge.CompetitionCategoryID" class="form-control" asp-items="ViewBag.SelectList"></select>
            <span asp-validation-for="Challenge.CompetitionCategoryID" class="text-danger"></span>
        </div>
        <div>
            <input type="hidden" asp-for="Challenge.CompetitionID" value="@Model.Competition.ID">
            <span asp-validation-for="Challenge.CompetitionID" class="text-danger"></span>
        </div>
        <!--@foreach (var item in Model.Competition.CompetitionCategories)
        {
            <h2>@Html.DisplayFor(modelItem => item.CategoryName)</h2>
            <hr>
        }-->
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <br>
        <br>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </form>
</div>
<!--
<div>
    <a asp-action="Index">Back to List</a>
</div>
-->
