@model UserSide.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<br />
<div class="container">

    <h2> Edit Post </h2>

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PostID" />

        <br />
        <div class="form-group">
            <label asp-for="CategoryID" class="control-label">Category</label>
            <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID">
                <option value="">-- Select Category --</option>
            </select>
            <span asp-validation-for="CategoryID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label">Title</label>
            <input asp-for="Title" class="form-control" id="tit" placeholder="Enter Title Here" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="control-label">Content</label>
            <input asp-for="Content" class="form-control" id="con" placeholder="Enter Content Here" />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <!-- For Files, TBC -->
        <div class="form-group">
            <label for=""></label>
            <input type="file" class="form-control-file" id="File1">
        </div>
        <br />
        <div class="form-group"></div>
        <button class="btn btn-outline-secondary" asp-area="" asp-controller="Forum" asp-action="Index">Cancel</button> &nbsp;
        <input type="submit" value="Save" class="btn btn-outline-primary" />
    </form>
</div>
<br />

<div class="container">
    <a asp-action="Index">Back to Forum Page</a>
</div>