@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="Forum/StyleSheet.css">
<style>
    /* SEARCH */
    input[type=text] {
        float: left;
        width: 120px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('/icons/search.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

        input[type=text]:focus {
            width: 40%;
        }
    /* BACK TO TOP*/
    #myBtn {
        display: none;
        position: fixed;
        bottom: 1   0px;
        right: 40px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        border-radius: 4px;
    }

        #myBtn:hover {
            background-color: #555;
        }
</style>
<br />
<button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>
<div class="container">
    <form>
        <input type="text" name="search" placeholder="Search..">
    </form>
    <button style="float: right; padding:10px 25px; font-size: 16px;">
        <a asp-area="" asp-controller="Forum" asp-action="NewTopicF">New Topic</a>
    </button>
</div>
<br>
<br />
<br>
<div class="container" id="cat1" style="outline-style:solid; padding: 10px;">
    <div class="panel-group">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">

                    <a data-toggle="collapse" href="#collapse1">Category: XXXXXX</a>

                </h4>
            </div>
            <br>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="card-body" style="outline-style:solid; padding: 10px;">Panel Body</div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container" id="cat2" style="outline-style:solid; padding: 10px;">
    <div class="panel-group">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">

                    <a data-toggle="collapse" href="#collapse2"> Category: XXXXXX</a>

                </h4>
            </div>
            <br>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="card-body" style="outline-style:solid; padding: 10px;">Panel Body</div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container" id="cat3" style="outline-style:solid; padding: 10px;">
    <div class="panel-group">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">

                    <a data-toggle="collapse" href="#collapse3">Category: XXXXXX</a>

                </h4>
            </div>
            <br>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="card-body" style="outline-style:solid; padding: 10px;">Panel Body</div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container" id="cat4" style="outline-style:solid; padding: 10px;">
    <div class="panel-group">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">

                    <a data-toggle="collapse" href="#collapse4">Category: XXXXXX</a>

                </h4>
            </div>
            <br>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="card-body" style="outline-style:solid; padding: 10px;">Panel Body</div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container" id="cat5" style="outline-style:solid; padding: 10px;">
    <div class="panel-group">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">

                    <a data-toggle="collapse" href="#collapse5">Category: XXXXXX</a>

                </h4>
            </div>
            <br>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="card-body" style="outline-style:solid; padding: 10px;">Panel Body</div>
            </div>
        </div>
    </div>
</div>
<script>

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>
