@model UserSide.Models.Chat
@using Microsoft.AspNetCore.Identity


@inject UserManager<IdentityUser> _userManager

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Chat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateChat">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MsgCount" class="control-label"></label>
                <input asp-for="MsgCount" class="form-control" />
                <span asp-validation-for="MsgCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserOne" class="control-label"></label>
                @Html.DropDownList("UserOne", new SelectList(ViewBag.Users, "UserOne"))
            </div>
            <div class="form-group">
                <input type="submit" value="CreateChat" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

