
@{
    ViewData["Title"] = "LIVE CHAT";
}

<!DOCTYPE html>
<html>
<head>

    <style>
        h2 {
            margin-top: 30px;
            text-align: center;
        }
       
      
    </style>

</head>

<body>

    <h2>@ViewData["Title"]</h2>

    <!--Individual-->
    <div class="table-responsive table table-hover">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Mark</th>
                    <td>Online</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th scope="row">Tom</th>
                    <td>Offline</td>
                    <td></td>

                </tr>
                <tr>
                    <th scope="row">GOD</th>
                    <td colspan="2">Larry the Bird</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--Team-->
    <div class="table-responsive table table-hover">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">BatPower</th>
                    <td>0/5</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">asdfghjkl</th>
                    <td>0/4</td>
                    <td></td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>
            </tbody>
        </table>
    </div>

    <form>
        <div class="form-row">
            <div class="col-7">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-dark"><i class="material-icons">search</i></button>
                <button type="submit" class="btn btn-dark"><i class="material-icons">group_add</i></button>
                <button type="button" class="btn btn-dark"><i class="material-icons">chat</i></button>
            </div>
        </div>
            
    </form>

</body>
</html>