@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-lg-3">
        <div class="list-group">
            <a asp-area="" asp-controller="PlatformManagement" asp-action="Index" class="list-group-item active">Dashboard</a>
            <a asp-area="" asp-controller="PlatformManagement" asp-action="" class="list-group-item">Challenge Servers</a>
            <a asp-area="" asp-controller="PlatformManagement" asp-action="" class="list-group-item">Server Templates</a>
            <a asp-area="" asp-controller="PlatformManagement" asp-action="" class="list-group-item">Challenge Network</a>
            <a asp-area="" asp-controller="PlatformManagement" asp-action="" class="list-group-item">Platform Logs</a>
        </div>
    </div>
    <div class="col-lg-9">
        <h4>Profile</h4>
        <div class="row">
            <div class="col-lg-6">

            </div>
        </div>
    </div>
</div>
