@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-lg-3">
        <div id="platformManagementNav" class="list-group" style="padding-top: 50%;">
            <a asp-area="" asp-controller="PlatformManagement" asp-action="Index" class="list-group-item active">Dashboard</a>
            <a asp-area="" asp-controller="PlatformManagement" asp-action="" class="list-group-item">Challenge Servers</a>
            <a asp-area="" asp-controller="PlatformManagement" asp-action="" class="list-group-item">Server Templates</a>
            <a asp-area="" asp-controller="PlatformManagement" asp-action="" class="list-group-item">Challenge Network</a>
            <a asp-area="" asp-controller="PlatformManagement" asp-action="" class="list-group-item">Platform Logs</a>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card" style="margin-top: 25px; margin-bottom: 10%;">
            <div class="card-body">
                <i class="material-icons" style="font-size: 48px">help_outline </i>
                <span style="padding-left: 10px;">Overall Status</span>
            </div>
        </div>
        <div class="card-deck" style="padding-bottom: 5%;">
            <div class="card">
                <div class="card-body">
                    OVERALL STATUS
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    OVERALL STATUS
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    OVERALL STATUS
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    OVERALL STATUS
                </div>
            </div>
        </div>
    </div>
</div>
