@model UserSide.Models.Team
@{
    ViewData["Title"] = "Competition Sign Up";
}

<title>@ViewData["Title"] - Competition Sign Up</title>

<br>
<div class="container">
    <div class="btn-group d-flex" role="group">
        <a asp-controller="Competitions" asp-action="Join" asp-route-id="@ViewData["CompetitionID"]" class="w-100"><input type="button" value="Join Group" class="btn btn btn-outline-primary w-100"></a>
        <a asp-controller="Competitions" asp-action="SignUp" asp-route-id="@ViewData["CompetitionID"]" class="w-100"><input type="button" value="Create Group" class="btn btn btn-outline-primary w-100 active"></a>
    </div>
    <div>
        <section>
            <br>
            <form method="post">
                <h2>Joining XXX</h2>
                <div class="form-group">
                    <label asp-for="TeamName"></label>
                    <input asp-for="TeamName" class="form-control" />
                    <span asp-validation-for="TeamName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="CompetitionID" value="@ViewData["CompetitionID"]" />
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Create</button>
                </div>
            </form>
        </section>
    </div>
</div>