@{
    ViewData["Title"] = "Competition Sign Up";
}

@model UserSide.Models.TeamModel

<title>@ViewData["Title"] - Competition Sign Up</title>

<h2>Competition Sign Up</h2>

<p>Hello from our Competition Sign Up page!</p>
<!--To remove header and make it more dynamic in the future-->
<div class="row">
    <div class="col-md-6 offset-md-3">
        <section>
            <br>
            <form method="post">
                <h2>Joining NYP Global CTF</h2>
                <div class="form-group">
                    <label asp-for="Input.TeamName"></label>
                    <input asp-for="Input.TeamName" class="form-control" />
                    <span asp-validation-for="Input.TeamName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Create/Join</button>
                </div>
            </form>
        </section>
    </div>
    <!--
    <h2>Ongoing CTF</h2>
    <hr>
    To restyle with more visible buttons
    <row>
        <p>NYP Global CTF</p>
        <button type="button" class="btn btn-light"> Join </button>
    </row>
    <h2>Past CTF</h2>-->
</div>
