@model UserSide.Models.Team
@{
    ViewData["Title"] = "Competition Sign Up";
}

<title>@ViewData["Title"] - Competition Sign Up</title>

<br>
<div class="container">
    <div class="btn-group d-flex" role="group">
        <button type="button" class="btn btn-primary w-100">Join Group</button>
        <button type="button" class="btn btn-primary w-100">Create Group</button>
    </div>
    <div>
        <section>
            <br>
            <form method="post">
                <h2>Joining XXX</h2>
                <div class="form-group">
                    <label asp-for="TeamName"></label>
                    <input asp-for="TeamName" class="form-control" />
                    <span asp-validation-for="TeamName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Create/Join</button>
                </div>
            </form>
        </section>
    </div>
</div>
