@model AdminSide.Areas.PlatformManagement.Models.AWSTestingS3FormModel;
@{
    ViewData["Title"] = "Testing Page";
}

<div class="row">
    <div class="col-lg-3">
        <partial name="../_AWSTestingNav.cshtml" />
    </div>
    <div class="col-lg-9" style="margin-top: 25px; margin-bottom: 10%;">
        <h4>Content</h4>
        <div class="row">
            <div class="col-lg-6">
                @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Exception"])))
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewData["Exception"]
                    </div>
                }
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="BucketName"></label>
                        <input asp-for="BucketName" placeholder="Enter Bucket Name" class="form-control" />
                        <span asp-validation-for="BucketName" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Bucket</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
