@model AdminSide.Areas.PlatformManagement.Models.AWSTestingSNSFormModel;
@{
    ViewData["Title"] = "Testing Page";
}

<div class="row">
    <div class="col-lg-3">
        <div class="list-group" style="padding-top: 50%;">
            <a asp-area="PlatformManagement" asp-controller="Home" asp-action="Index" class="list-group-item">Return to main page</a>
            <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="S3List" class="list-group-item">S3 - List Buckets</a>
            <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="S3Create" class="list-group-item">S3 - Create Bucket</a>
            <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="EC2List" class="list-group-item">EC2 - List Instances</a>
            <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="EC2Create" class="list-group-item">EC2 - Create Instance</a>
            <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="VPCList" class="list-group-item">VPC - List VPC</a>
            <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="SubnetList" class="list-group-item">VPC - List Subnets</a>
            <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="SubnetCreate" class="list-group-item">VPC - Create Subnet</a>
            <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="CloudwatchView" class="list-group-item">Cloudwatch - View Events</a>
            <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="SNSSend" class="list-group-item active">SNS - Send SMS</a>
        </div>
    </div>
    <div class="col-lg-9" style="margin-top: 25px; margin-bottom: 10%;">
        <h4>Content</h4>
        <div class="row">
            <div class="col-lg-6">
                @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Result"])) && Convert.ToString(ViewData["Result"]) != "Successfully Sent!")
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewData["Result"]
                    </div>
                }
                @if (Convert.ToString(ViewData["Result"]) == "Successfully Sent!")
                {
                    <div class="alert alert-success" role="alert">
                        @ViewData["Result"]
                    </div>
                }
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="DisplayID"></label>
                        <input asp-for="DisplayID" placeholder="Enter Display ID" class="form-control" />
                        <span asp-validation-for="DisplayID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Number"></label>
                        <input asp-for="Number" placeholder="Enter Phone Number to Send to (Include Country Code)" class="form-control" />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Message"></label>
                        <textarea asp-for="Message" placeholder="Enter Message" class="form-control"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
