@model Amazon.EC2.Model.DescribeVpcsResponse;
@{
    ViewData["Title"] = "Testing Page";
}

<div class="row">
    <div class="col-lg-3">
        <partial name="../_AWSTestingNav.cshtml" />
    </div>
    <div class="col-lg-9" style="margin-top: 25px; margin-bottom: 10%;">
        <h4>Content</h4>
        <div class="row">
            <div class="col-lg-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                IPv4 CIDR Block
                            </th>
                            <th>
                                IPv6 CIDR Block
                            </th>
                            <th>
                                VPC State
                            </th>
                            <th>
                                VPC ID
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var VPC in Model.Vpcs)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => VPC.CidrBlock)
                                </td>
                                @foreach (var ipv6Block in VPC.Ipv6CidrBlockAssociationSet)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => ipv6Block.Ipv6CidrBlock)
                                    </td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => VPC.State)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => VPC.VpcId)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
