@model Amazon.EC2.Model.DescribeVpcsResponse;
@{
    ViewData["Title"] = "Testing Page";
}

<div class="row">
    <div class="col-lg-3">
        <div class="list-group" style="padding-top: 50%;">
            <a asp-area="PlatformManagement" asp-controller="Home" asp-action="Index" class="list-group-item">Return to main page</a>
            <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="S3List" class="list-group-item">S3 - List Buckets</a>
            <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="S3Create" class="list-group-item">S3 - Create Bucket</a>
            <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="EC2List" class="list-group-item">EC2 - List Instances</a>
            <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="EC2Create" class="list-group-item">EC2 - Create Instance</a>
            <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="VPCList" class="list-group-item active">VPC - List VPC</a>
            <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="SubnetList" class="list-group-item">VPC - List Subnets</a>
            <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="SubnetCreate" class="list-group-item">VPC - Create Subnet</a>
            <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="CloudwatchView" class="list-group-item">Cloudwatch - View Events</a>
            <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="SNSSend" class="list-group-item">SNS - Send SMS</a>
        </div>
    </div>
    <div class="col-lg-9" style="margin-top: 25px; margin-bottom: 10%;">
        <h4>Content</h4>
        <div class="row">
            <div class="col-lg-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                IPv4 CIDR Block
                            </th>
                            <th>
                                IPv6 CIDR Block
                            </th>
                            <th>
                                VPC State
                            </th>
                            <th>
                                VPC ID
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var VPC in Model.Vpcs)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => VPC.CidrBlock)
                                </td>
                                @foreach (var ipv6Block in VPC.Ipv6CidrBlockAssociationSet)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => ipv6Block.Ipv6CidrBlock)
                                    </td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => VPC.State)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => VPC.VpcId)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
