@model AdminSide.Areas.PlatformManagement.Models.ChallengeNetworkParentViewModel
@{
    ViewData["Title"] = "Challenge Network";
}
<div class="row">
    <div class="col-lg-3">
        <partial name="../_MainNav.cshtml" />
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-12">
                @if (!String.IsNullOrEmpty(Convert.ToString(TempData["Result"])))
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-danger" role="alert">
                                @TempData["Result"]
                            </div>
                        </div>
                    </div>
                }
                @if (!String.IsNullOrEmpty(Convert.ToString(TempData["Exception"])))
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-danger" role="alert">
                                @TempData["Exception"]
                            </div>
                        </div>
                    </div>
                }
                @await Html.PartialAsync("SubnetList", Model.RetrievedSubnets)
                @if (Model.RetrievedSubnets.Count() != 0)
                {
                    <br />
                    <hr>
                }
                @await Html.PartialAsync("RouteList", Model.RetrievedRoutes)
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteSubnet" tabindex="-1" role="dialog" aria-labelledby="DeleteSubnetConfirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteSubnetConfirmation">Delete Subnet Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the subnet?
            </div>
            <div class="modal-footer">
                <form method="post">
                    <input type="hidden" name="action" value="Delete" />
                    <input type="hidden" id="subnetDeletionInput" name="subnetID" value="" />
                    <button type="submit" class="btn btn-danger">Delete Subnet</button>
                </form>
            </div>
        </div>
    </div>
</div>