<div class="list-group" style="padding-top: 25%;">
    <a asp-area="PlatformManagement" asp-controller="Home" asp-action="" class="list-group-item">Dashboard</a>
    <a asp-area="PlatformManagement" asp-controller="ChallengeServers" asp-action="Index" class="list-group-item vpcUnAvail">Challenge Servers</a>
    <a asp-area="PlatformManagement" asp-controller="ServerTemplates" asp-action="Index" class="list-group-item vpcUnAvail">Server Templates</a>
    <a asp-area="PlatformManagement" asp-controller="ChallengeNetwork" asp-action="Index" class="list-group-item vpcUnAvail">Challenge Network</a>
    <a asp-area="PlatformManagement" asp-controller="PlatformLogs" asp-action="Index" class="list-group-item">Platform Logs</a>
</div>