<div class="list-group" style="padding-top: 25%;">
    <a asp-area="PlatformManagement" asp-controller="Home" asp-action="" class="list-group-item">Dashboard</a>
    <a asp-area="PlatformManagement" asp-controller="ChallengeServers" asp-action="Index" class="list-group-item">Challenge Servers</a>
    <a asp-area="PlatformManagement" asp-controller="ServerTemplates" asp-action="Index" class="list-group-item">Server Templates</a>
    <a asp-area="PlatformManagement" asp-controller="ChallengeNetworkSubnets" asp-action="Index" class="list-group-item">Challenge Network - Subnets</a>
    <a asp-area="PlatformManagement" asp-controller="ChallengeNetworkRoutes" asp-action="Index" class="list-group-item">Challenge Network - Routes</a>
    <a asp-area="PlatformManagement" asp-controller="PlatformLogs" asp-action="Index" class="list-group-item">Platform Logs</a>
    <a asp-area="PlatformManagement" asp-controller="AWSTesting" asp-action="Index" class="list-group-item list-group-item-danger">AWS Testing Pages</a>
</div>