
@{
    ViewData["Title"] = "Challenge Network - Routes";
}
<div class="row">
    <div class="col-lg-3">
        <partial name="../_MainNav.cshtml" />
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Route Description
                            </th>
                            <th>
                                Route Type
                            </th>
                            <th>
                                IP CIDR
                            </th>
                            <th>
                                Subnet(s) Applicable
                            </th>
                            <th>
                                Destination
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>