@{
    ViewData["Title"] = "Challenges";
}

<title>@ViewData["Title"] - Challenges</title>

<h2>Challenges test</h2>

<p>Hello from our Challenges page!</p>
<!--To remove header and make it more dynamic in the future-->
<div>
    <h2>Miscellaneous</h2>
    <hr>
    <!--To restyle with more visible buttons-->
    <row>
        <div>
            <button type="button" class="btn btn-light">
                Challenge 1
                <br>
                30
            </button>
            <button type="button" class="btn btn-light">
                Challenge 2
                <br>
                50
            </button>
            <button type="button" class="btn btn-light">
                Challenge 3
                <br>
                100
            </button>
            <button type="button" class="btn btn-light">
                Challenge 4
                <br>
                150
            </button>
            <button type="button" class="btn btn-light">
                Challenge 5
                <br>
                200
            </button>
        </div>
    <hr>
    <h2>Binary</h2>
    <hr>
    <p>Challenges here</p>
    <hr>
    <h2>Web</h2>
    <hr>
    <p>Challenges here</p>
    <hr>

    <h2>Crypto</h2>
    <hr>
    <p>Challenges here</p>

    <hr>
</div>