@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-lg-3">
        <partial name="../_MainNav.cshtml" />
    </div>
    <div class="col-lg-9">
        <div class="card" style="margin-top: 25px; margin-bottom: 10%;">
            <div class="card-body">
                <i class="material-icons" style="font-size: 48px">help_outline </i>
                <span style="padding-left: 10px;">Overall Status</span>
            </div>
        </div>
        <div class="card-deck" style="padding-bottom: 5%;">
            <div class="card">
                <div class="card-body">
                    OVERALL STATUS
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    OVERALL STATUS
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    OVERALL STATUS
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    OVERALL STATUS
                </div>
            </div>
        </div>
    </div>
</div>
