@model AdminSide.Areas.PlatformManagement.Models.FirewallRule

@{
    ViewData["Title"] = "CreateFirewallRule";
}

<h2>CreateFirewallRule</h2>

<h4>FirewallRule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Exception"])))
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["Exception"]
            </div>
        }
            <form asp-action="SubmitFirewallRule">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <input type="hidden" asp-for="ServerID" value="@ViewData["ServerID"]" />
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" class="form-control"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Protocol" class="control-label"></label>
                    <select asp-for="Protocol" class="form-control"></select>
                    <span asp-validation-for="Protocol" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Port" class="control-label"></label>
                    <input asp-for="Port" class="form-control" />
                    <span asp-validation-for="Port" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Direction" class="control-label"></label>
                    <select asp-for="Direction" class="form-control"></select>
                    <span asp-validation-for="Direction" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IPCIDR" class="control-label"></label>
                    <input asp-for="IPCIDR" class="form-control" />
                    <span asp-validation-for="IPCIDR" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
