@model AdminSide.Areas.PlatformManagement.Models.ChallengeServersCredentialsPageModel
@{
    ViewData["Title"] = "Credentials";
}
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-primary" role="alert">
            Credentials for your server are shown below. To see on how to use the credentials to access the server, please click <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AccessingInstances.html">here</a> for Linux or <a href="https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/connecting_to_windows_instance.html">here</a> for Windows
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-lg-12">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Attribute</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Server IP Address</td>
                    <td>@Model.serverIP</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Server DNS Hostname</td>
                    <td>@Model.serverDNS</td>
                </tr>
                @if (Model.Windows == true && Model.Available == true && Model.retrievedPassword != null)
                {
                    <tr>
                        <th scope="row">3</th>
                        <td>User Account Name</td>
                        <td>Administrator</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>User Account Password</td>
                        <td>@Model.retrievedPassword</td>
                    </tr>
                } @if (Model.Windows == true && Model.Available == false)
                {
                    <tr>
                        <th scope="row">3</th>
                        <td>User Account Name</td>
                        <td colspan="2">Sorry, the credentials for the server are not ready yet. Please try again in a few minutes</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>User Account Password</td>
                    </tr>
                }@if (Model.Windows == false && Model.keyPairDownloadURL != null)
                {
                    <tr>
                        <th scope="row">3</th>
                        <td>User Account Name</td>
                        <td>ec2-user</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        @if (Model.Windows == false && Model.keyPairDownloadURL != null)
        {
            <button type="button" class="btn btn-primary btn-lg" onclick="window.open('@Model.keyPairDownloadURL','_blank');">Download PEM File</button>
        }
    </div>
</div>